.header{
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    max-height: 60px;
    position: sticky;
    top: 0;
    align-items: center;
    border-bottom: 1px solid rgb(198, 189, 189);
}

.header__left > a > p{
    font-size: 2rem;
    color: rgb(50, 46, 46);
    padding: 10px;
    margin: 20px;
    font-family: 'Aladin', cursive;
}

.header__right{
    display: flex;
}

.header__right > p {
    font-size: 1rem;
    margin: 15px;
    padding: 5px;
    width: 100px;
    text-align: center;
    border: 2px solid #4DCBFA;
    font-weight: 600;
    cursor: pointer;
}


.header__logout {
    background-color: white;
    color: #4DCBFA;
}

.header__logout:hover{
    background-color: #4DCBFA;
    color: white;
    transition: all 0.5s;
}

.header__signup{
    background-color: #4DCBFA;
    color: white;
}

.header__signup:hover{
    background-color: white;
    color: #4DCBFA;
    transition: all 0.5s;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .header{
        max-width: 100%;
    }
}